body{ 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;

 }

header {
        position: relative;
            width: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, .6);

        }
header.fixed{ 
    position: fixed;
 }

.innerContainer {
    max-width: 1200px;
    margin: auto;
}

header a {
    color: #fff !important; 
    text-decoration: none; 
}
 header a:hover, header a:active{
    text-decoration: underline; 
    color: #fff !important;
 }

.col {
    float: left;
}

.col.right {
    float: right;
}

nav {}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.heroSection {
    background: #eee;
    height: 100%; 
    width: 100%;
    text-align: center;
}

.thankyou{ 
    display: inline-block; 
    background: rgba(0,0,0,.5);
    padding: 10px 20px;
    font-size: 7vw;
    color: #fff;
    border-radius: 10px;
    text-decoration: none; 

 }

.cta{ 
    display: inline-block; 
    background: rgba(0,0,0,.5);
    padding: 10px 20px;
    font-size: 9vw;
    color: #fff;
    border-radius: 10px;
    text-decoration: none; 

 }
 .cta:hover{
    text-decoration: underline; 
    background: rgba(0,0,0,1);
 }

.heroCopy {
    position: absolute;
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
    color: #fff;
    width: 100%;
}

.heroCopy h1 {
    font-size: 9vw;
}

.heroCopy p {
    font-size: 2vw;
}

main {
    position: relative;
    z-index: 99;
}

.videoContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    z-index: -99;
}
.errorMessages{ 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center;

 }

 .errorMessages p{ 
    background: #fff; 
    display: inline-block;
    padding: 20px 30px; 
  }


#mainWrapper{ 
    position: relative; 
    max-width: 1200px; 
    margin: auto; 
 }



 * The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.center{ 
    text-align: center;
}