{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>Rent A Puppy</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-toggle.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
</head>

<body>
    <header class="clear">
        <div class="innerContainer">
            <h1 class="col"><a href="#">Rent A Pup</a></h1>

            <nav class="col right">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>

</html>
