{% extends 'pups/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Login{% endblock %}

{% block content %}
  <div>
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <div>
      <a href="{% url 'login' %}">
        {% bootstrap_button "Login" button_class="btn btn-primary"%}
      </a>
      <a href="{% url 'signup' %}">
        {% bootstrap_button "Signup" button_class="btn btn-primary"%}
      </a>
    </div>
  {% endif %}
</div>
{% endblock %}
