{% extends 'pups/base_logged_in.html' %}
{% load staticfiles %}

<html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div class="center">
<h1> Create Profile</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% bootstrap_button "Create Profile" button_class="btn btn-primary"%}
</form>
</div>
{% endblock %}
